.roverDetails {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.title {
  text-align: end;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
}

.roverInformation {
  padding: 2%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    "details picture"
    "story picture";
}

.roverImg {
  grid-area: picture;
  margin: 20px;
  width: 85%;
}

.roverDetails {
  grid-area: details;
}

.roverStory {
  grid-area: story;
}

.roverStory > h2:first-child {
  margin-top: 0px;
}
