body {
  margin: 0;
  background-color: rgb(203, 220, 250);
  margin-left: auto;
  margin-right: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pictureSet {
  display: flex;
  flex-direction: row;
  align-items: center;
}
