.pictureBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 1200px;
  margin: 40px 0px 20px;
  background-color: rgb(155, 186, 245);
  border-radius: 20px;
}

.pictureBox > img {
  height: 100px;
  margin: 10px;
  border-radius: 10px;
}

h2 {
  margin-left: 20px;
}

.secondary:hover {
  transform: scale(1.1);
}
