.pictureBoxImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 20px;
}

.pictureBoxImages > img {
  margin: 10px;
  border-radius: 10px;
}

.pictureBox {
  width: 1200px;
  margin: 40px 0px 20px;
  background-color: rgb(155, 186, 245);
  border-radius: 20px;
}

.pictureBoxLabel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pictureBox p {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.pictureBox > p {
  margin-bottom: 0;
}

.pictureBox h2 {
  margin-left: 20px;
}

.secondary:hover {
  transform: scale(1.1);
}
