.picture {
  margin: 15px;
}

.main {
  background-color: blue;
  height: 300px;
  width: 600px;
}

.secondary {
  background-color: brown;
  height: 100px;
  width: 200px;
}

.secondary:hover {
  transform: scale(1.1);
}
